
/* Your CSS Code here. */
button{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.btn:hover{
    background-color: white;
    border-radius: 30px;
    border-color: yellow;
    color: black;
}